<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="newWizard" name="%extension-point.newWizard" schema="schema/newWizard.exsd"/>
   <extension
         point="com.softmodeler.ui.assistantProvider">
      <assistantProvider
            class="ch.scodi.ui.provider.selection.DataAssistantProvider"
            id="ch.scodi.ui.assistantProvider.data">
      </assistantProvider>
      <assistantProvider
            class="ch.scodi.ui.provider.selection.DocumentAssistantProvider"
            id="ch.scodi.ui.assistantProvider.document">
      </assistantProvider>
   </extension>
   <extension
         point="com.softmodeler.ui.editorPage">
	  <editorPage
            filter="DataObject,PrintTemplateSet,HelpEntry"      
            id="ch.scodi.ui.editorPage.association"
			name="%editorPage.association"
            pageClass="com.softmodeler.ui.editors.AssociationPage">
       <editor
             id="com.softmodeler.ui.editors.UIObjectRefEditor">
          <sortHint
                number="30">
          </sortHint>
       </editor>
      </editorPage>
      <editorPage
            filter="DataObject"
            id="ch.scodi.ui.editorPage.accesscontrol"
            name="%editorPage.rights"
            pageClass="ch.scodi.ui.editors.AccessControlPage"
            permissions="$EDIT_$OBJECTRIGHTS_">
			<editor
			      id="com.softmodeler.ui.editors.UIObjectRefEditor">
			   <sortHint
			         number="50">
			   </sortHint>
			</editor>
      </editorPage>
      <editorPage
            filter="View"
            id="ch.scodi.ui.editorPage.accesscontrol"
            name="%editorPage.viewrights"
            pageClass="ch.scodi.ui.editors.AccessControlPage"
            permissions="$VIEWS_$VIEWRIGHTS_">
			<editor
			      id="com.softmodeler.ui.editors.UIObjectRefEditor">
			   <sortHint
			         number="50">
			   </sortHint>
			</editor>
      </editorPage>
      
      <!--editorPage
            filter="View"
            id="ch.scodi.ui.editorPage.viewcontrol"
            name="%editorPage.viewrights"
            pageClass="ch.scodi.ui.rcp.editors.ViewControlPage"
            permissions="$VIEWS_$VIEWRIGHTS_">
			<editor
			      id="com.softmodeler.ui.editors.UIObjectRefEditor">
			   <sortHint
			         number="50">
			   </sortHint>
			</editor>
      </editorPage-->   
        
      <editorPage
            filter="DataObject,View,HelpEntry"
            id="ch.scodi.ui.editorPage.audit"
            name="%editorPage.versions"
            pageClass="com.softmodeler.ui.editors.AuditPage">
            <editor
                  id="com.softmodeler.ui.editors.UIObjectRefEditor">
               <sortHint
                     number="40">
               </sortHint>
            </editor>
      </editorPage>
      <editorPage
            filter="DataObject,View"
            id="ch.scodi.ui.editorPage.comment"
            name="%editorPage.comments"
            pageClass="com.softmodeler.ui.editors.CommentPage">
   <editor
         id="com.softmodeler.ui.editors.UIObjectRefEditor">
      <sortHint
            number="70">
      </sortHint>
   </editor>
      </editorPage>
      <editorPage
            id="ch.scodi.ui.editorPage.information"
            name="%editorPage.information"
            pageClass="ch.scodi.ui.editors.InformationPage">
    <editor
          id="com.softmodeler.ui.editors.UIObjectRefEditor">
       <sortHint
             number="70">
       </sortHint>
    </editor>
      </editorPage>
      <editorPage
            filter="DataObject"
            id="ch.scodi.ui.editorPage.pushMail"
            name="%editorPage.pushMail"
            pageClass="com.softmodeler.ui.editors.PushMailPage">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="71">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="Organisation,OrganisationUnit"
            id="ch.scodi.ui.editorPage.members"
            name="%editorPage.members"
            pageClass="com.softmodeler.ui.editors.MemberMgmtPage"
            permissions="$EDIT_$MODIFY_">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="31">
            </sortHint>
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
            <sortHint
                  number="31">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="Identity"
            id="ch.scodi.ui.editorPage.contactdata"
            name="%editorPage.contactData"
            uiDefinition="com.softmodeler.ui.page.contactdata">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="19">
            </sortHint>
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
            <sortHint
                  number="19">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="BasicObject,HelpEntry"
            id="ch.scodi.ui.editorPage.translations"
            name="%editorPage.translations"
            pageClass="com.softmodeler.ui.editors.TranslationsPage">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="60">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="ProcessDocument"
            id="ch.scodi.ui.editorPage.document.fontpage"
            name="%editorPage.frontPagePart"
            pageClass="ch.scodi.ui.editors.FrontPagePartPage">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="21">
            </sortHint>
         </editor>
      </editorPage>
   </extension>
   <extension
         point="com.softmodeler.ui.uiDefinition">
      <editor>
         <uiDefinition
               file="resource/definition/editor/Audio.xmi"
               filter="Audio"
               id="ch.scodi.ui.data.Audio">
         </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/AutoJob.xmi"
	            filter="AutoJob"
	            id="ch.scodi.ui.data.AutoJob">
	      </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/ControlPoint.xmi"
               filter="ControlPoint"
               id="ch.scodi.ui.data.ControlPoint">
         </uiDefinition>	      
         <uiDefinition
               file="resource/definition/editor/CostCenter.xmi"
               filter="CostCenter"
               id="ch.scodi.ui.data.CostCenter">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/Goal.xmi"
               filter="Goal"
               id="ch.scodi.ui.data.Goal">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/Image.xmi"
               filter="Image"
               id="ch.scodi.ui.data.Image">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/Information.xmi"
               filter="Information"
               id="ch.scodi.ui.data.information">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/Keyword.xmi"
               filter="Keyword"
               id="ch.scodi.ui.data.Keyword">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/Link.xmi"
               filter="Link"
               id="ch.scodi.ui.data.Link">
         </uiDefinition>
         <uiDefinition
	            file="resource/definition/editor/MeasuringValue.xmi"
	            filter="MeasuringValue"
	            id="ch.scodi.ui.data.MeasuringValue">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/MeasuringValue.xmi"
	            filter="MeasuringValue"
	            id="ch.scodi.ui.data.MeasuringValue">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Organisation.xmi"
	            filter="Organisation"
	            id="ch.scodi.ui.data.Organisation">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/OrganisationUnit.xmi"
	            filter="OrganisationUnit"
	            id="ch.scodi.ui.data.OrganisationUnit">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Person.xmi"
	            filter="Person"
	            id="ch.scodi.ui.data.Person">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Product.xmi"
	            filter="Product"
	            id="ch.scodi.ui.data.Product">
	      </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/RoleJob.xmi"
             filter="RoleJob"
             id="ch.scodi.ui.data.RoleJob">
       </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Skill.xmi"
	            filter="Skill"
	            id="ch.scodi.ui.data.Skill">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Task.xmi"
	            filter="Task"
	            id="ch.scodi.ui.data.Task">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/ToolsIT.xmi"
	            filter="ToolsIT"
	            id="ch.scodi.ui.data.ToolsIT">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/TaskTrigger.xmi"
	            filter="TaskTrigger"
	            id="ch.scodi.ui.data.TaskTrigger">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Thing.xmi"
	            filter="Thing"
	            id="ch.scodi.ui.data.Thing">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/TriggerResult.xmi"
	            filter="TriggerResult"
	            id="ch.scodi.ui.data.TriggerResult">
	      </uiDefinition>
	      <uiDefinition
	            file="resource/definition/editor/Video.xmi"
	            filter="Video"
	            id="ch.scodi.ui.data.Video">
	      </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/FolderDocument.xmi"
             filter="FolderDocument"
             id="ch.scodi.ui.document.FolderDocument">
       </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/HTMLDocument.xmi"
             filter="HTMLDocument"
             id="ch.scodi.ui.document.HTMLDocument">
       </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/ItemsDocument.xmi"
             filter="ItemsDocument"
             id="ch.scodi.ui.document.ItemsDocument">
       </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/LinkedDocument.xmi"
             filter="LinkedDocument"
             id="ch.scodi.ui.document.LinkedDocument">
       </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/EmbeddedDocument.xmi"
             filter="EmbeddedDocument"
             id="ch.scodi.ui.document.EmbeddedDocument">
       </uiDefinition>
       <uiDefinition
             file="resource/definition/editor/Risk.xmi"
             filter="Risk"
             id="ch.scodi.ui.data.Risk">
       </uiDefinition>
      </editor>
      <include>
         <uiDefinition
               file="resource/definition/include/dataGeneral.xmi"
               id="ch.scodi.ui.data.general">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/include/dataCommands.xmi"
               id="ch.scodi.ui.data.commands">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/include/documentCommands.xmi"
               id="ch.scodi.ui.document.commands">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/include/externalDocumentCommands.xmi"
               id="ch.scodi.ui.document.external.commands">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/include/documentGeneral.xmi"
               id="ch.scodi.ui.document.general">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/include/validInfo.xmi"
               id="ch.scodi.ui.document.validInfo">
         </uiDefinition>
      </include>
   </extension>
   <extension
         point="com.softmodeler.ui.editorSupport">
      <editorSupport
            filter="Document"
            id="ch.scodi.ui.editorSupport.document"
            supportClass="ch.scodi.ui.editors.support.DocumentEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
         </editor>
      </editorSupport>
      <editorSupport
            filter="ProcessDocument"
            id="ch.scodi.ui.editorSupport.processDocument"
            supportClass="ch.scodi.ui.editors.support.ProcessDocumentEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
         </editor>
      </editorSupport>
      <editorSupport
            filter="RoleJob"
            id="ch.scodi.ui.editorSupport.roleJob"
            supportClass="ch.scodi.ui.editors.support.RoleJobEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
         </editor>
      </editorSupport>
      <editorSupport
            filter="Document"
            id="ch.scodi.ui.editorSupport.nlsDocument"
            supportClass="ch.scodi.ui.editors.support.NlsDcoumentEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.TranslationEditor">
         </editor>
      </editorSupport>
   </extension>
   <extension
         point="org.eclipse.core.variables.valueVariables">
      <variable
            initialValue="ch.scodi.ui.assistantProvider.data"
            name="com.softmodeler.provider.individual"
            readOnly="true">
      </variable>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.scodi.ui.handler.NetviewerO2OHandler"
            id="ch.scodi.ui.command.openO2O"
            name="%command.startO2O">
      </command>
      <command
            defaultHandler="ch.scodi.ui.handler.NetviewerO2MHandler"
            id="ch.scodi.ui.command.openO2M"
            name="%command.startO2M">
      </command>
      <command
            defaultHandler="ch.scodi.ui.handler.NewDocumentHandler"
            id="ch.scodi.ui.document.command.newDocument"
            name="%command.newDocument">
         <commandParameter
               id="classifier"
               name="%commandParameter.classifier"
               optional="false">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="ch.scodi.ui.newWizard">
      <newWizard
            class="ch.scodi.ui.wizards.NewDataObjectWizard"
            filter="MasterData">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewKeywordWizard"
            filter="Keyword">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewPersonWizard"
            filter="Person">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewRoleWizard"
            filter="RoleJob">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewReportWizard"
            filter="Report">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewDocumentWizard"
            filter="FolderDocument">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewHTMLDocumentWizard"
            filter="HTMLDocument">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewItemsDocumentWizard"
            filter="ItemsDocument">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewLinkedDocumentWizard"
            filter="LinkedDocument">
      </newWizard>
      <newWizard
            class="ch.scodi.ui.wizards.NewEmbeddedDocumentWizard"
            filter="EmbeddedDocument">
      </newWizard>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.scodi.ui.handler.PropertyEditHandler"
            commandId="softmodeler.cmd.options">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="ch.scodi.ui.properties.DocumentPropertyPage"
            icon="platform:/plugin/ch.scodi.model/icons/full/obj16/HTMLDocument.png"
            id="ch.scodi.document.html.page"
            name="%page.htmlDocument">
         <enabledWhen>
            <instanceof
                  value="ch.scodi.model.HTMLDocument">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="ch.scodi.ui.properties.ReportDocumentPropertyPage"
            icon="platform:/plugin/ch.scodi.model/icons/full/obj16/ReportDocument.png"
            id="ch.scodi.document.report.page"
            name="%page.reportDocument">
         <enabledWhen>
            <instanceof
                  value="ch.scodi.model.ReportDocument">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="ch.scodi.ui.properties.DocumentPropertyPage"
            icon="platform:/plugin/ch.scodi.model/icons/full/obj16/ItemsDocument.png"
            id="ch.scodi.document.items.page"
            name="%page.itemsDocument">
         <enabledWhen>
            <instanceof
                  value="ch.scodi.model.ItemsDocument">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   
</plugin>
