<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension-point id="editorPage" name="%extension-point.editorPage" schema="schema/editorPage.exsd"/>
   <extension-point id="editorSupport" name="%extension-point.editorSupport" schema="schema/editorSupport.exsd"/>
   <extension-point id="assistantProvider" name="%extension-point.assistantProvider" schema="schema/assistantProvider.exsd"/>
   <extension-point id="inputSelectionProvider" name="%extension-point.inputSelectionProvider" schema="schema/inputSelectionProvider.exsd"/>
   <extension-point id="uiDefinition" name="%extension-point.uiDefinition" schema="schema/uiDefinition.exsd"/>
   <extension-point id="commandHandler" name="%extension-point.commandHandler" schema="schema/commandHandler.exsd"/>
   <extension-point id="uiPartProvider" name="%extension-point.uiPartProvider" schema="schema/uiPartProvider.exsd"/>
   <extension-point id="customComponent" name="%extension-point.customComponent" schema="schema/customComponent.exsd"/>   
   <extension-point id="editorPartHandler" name="%extension-point.editorPartHandler" schema="schema/editorPartHandler.exsd"/>
   <extension-point id="taskHandler" name="%extension-point.taskHandler" schema="schema/taskHandler.exsd"/>
   <extension-point id="workflowWizard" name="%extension-point.workflowWizard" schema="schema/workflowWizard.exsd"/>
   <extension-point id="dataProviderDefinitionEditorPage" name="%extension-point.dataProviderDefinitionEditorPage" schema="schema/dataProviderDefinitionEditorPage.exsd"/>
   <extension-point id="reportUIHandler" name="%extension-point.reportUIHandler" schema="schema/reportUIHandler.exsd"/>
   <extension-point id="structureExtension" name="%extension-point.structureExtension" schema="schema/structureExtension.exsd"/>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///www.softmodeler.com/model/ui/comp/1.0.0"
            class="com.softmodeler.ui.comp.UIPackage"
            genModel="model/ui.genmodel"/>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.softmodeler.ui.perspective.EditPerspective"
            icon="icons/full/view16/Edit.gif"
            id="com.softmodeler.ui.perspective.edit"
            name="%perspective.edit">
      </perspective>
      <perspective
            class="com.softmodeler.ui.perspective.TasksPerspective"
            icon="icons/full/view16/Overview.gif"
            id="com.softmodeler.ui.perspective.tasks"
            name="%perspective.tasks">
      </perspective>
      <perspective
            class="com.softmodeler.ui.perspective.HelpPerspective"
            icon="icons/full/view16/HelpAdmin.png"
            id="com.softmodeler.ui.perspective.help"
            name="%perspective.help">
      </perspective>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.softmodeler.ui.editors.UIObjectRefEditor"
            id="com.softmodeler.ui.editors.UIObjectRefEditor"
            name="%editor.objectRefEditor">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.AuditEditor"
            id="com.softmodeler.ui.editors.AuditEditor"
            name="%editor.auditEditor">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.UIViewerEditor"
            default="false"
            id="com.softmodeler.ui.editors.UIViewerEditor"
            name="%editor.viewerEditor">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.TranslationEditor"
            default="false"
            id="com.softmodeler.ui.editors.TranslationEditor"
            name="%editor.translator">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.WorkflowInstanceEditor"
            default="false"
            id="com.softmodeler.ui.editors.WorkflowInstanceEditor"
            name="%editor.workflow">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.TaskEditor"
            id="com.softmodeler.ui.editors.TaskEditor"
            name="%editor.task">
      </editor>
      <editor
            class="com.softmodeler.ui.editors.DataProviderDefinitionEditor"
            id="com.softmodeler.ui.editors.DataProviderDefinitionEditor"
            name="%editor.dataProviderDefinition">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.softmodeler.ui.preferences.ClientPreferencePage"
            id="com.softmodeler.ui.preferences.client"
            name="%page.name.0">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.softmodeler.ui.views.SingleSelectionView"
            fastViewWidthRatio="0.3"
            icon="icons/full/view16/Structure.gif"
            id="com.softmodeler.ui.view.SingleSelection"
            name="%view.SingleAssistant">
      </view>
      <stickyView
            closeable="true"
            id="com.softmodeler.ui.view.SingleSelection"
            location="RIGHT"
            moveable="false">
      </stickyView>
      <view
            class="com.softmodeler.ui.views.MultiSelectionView"
            fastViewWidthRatio="0.3"
            icon="icons/full/view16/Structure.gif"
            id="com.softmodeler.ui.view.multiSelection"
            name="%view.multiAssistant">
      </view>
      <stickyView
            closeable="true"
            id="com.softmodeler.ui.view.multiSelection"
            location="RIGHT"
            moveable="false">
      </stickyView>
      <view
            class="com.softmodeler.ui.views.UserAdminView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/Individual.png"
            id="com.softmodeler.ui.views.UserAdminView"
            name="%view.users">
      </view>      
      <view
            class="com.softmodeler.ui.views.UserGroupsAdminView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/Group.png"
            id="com.softmodeler.ui.views.UserGroupsAdminView"
            name="%view.usergroups">
      </view>            
      <view
            class="com.softmodeler.ui.views.UserRightsAdminView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/AccessControlEntry.png"
            id="com.softmodeler.ui.views.UserRightsAdminView"
            name="%view.userRights">
      </view>
      <view
            class="com.softmodeler.ui.views.ExternalUserDirectoriesView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/Group.png"
            id="com.softmodeler.ui.views.ExternalUserDirectoriesView"
            name="%view.externalUsers">
      </view>
      <view
            class="com.softmodeler.ui.views.OutputNodeView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/View.png"
            id="com.softmodeler.ui.view.outputNode"
            name="%view.view"
            restorable="true">
      </view>
      <view
            class="com.softmodeler.ui.views.ArchiveView"
            icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/ArchiveObject.png"
            id="com.softmodeler.ui.view.archive"
            name="%view.archive"
            restorable="true">
      </view>
	  <view
         allowMultiple="false"
         class="com.softmodeler.ui.views.DashboardView"
         icon="icons/full/view16/Dashboard.gif"
         id="com.softmodeler.ui.view.dashboard"
         name="%view.dashboard"
         restorable="true">
      </view>
   <view
         class="com.softmodeler.ui.views.WorkflowView"
         icon="icons/full/view16/WorkflowView.gif"
         id="com.softmodeler.ui.view.workflow"
         name="%view.workflow"
         restorable="true">
   </view>
   <view
         class="com.softmodeler.ui.views.TaskView"
         icon="icons/full/view16/Overview.gif"
         id="com.softmodeler.ui.view.tasks"
         name="%view.tasks"
         restorable="true">
   </view>
   <view
         class="com.softmodeler.ui.views.HelpStructureView"
         icon="icons/full/view16/Help.png"
         id="com.softmodeler.ui.view.helpStructure"
         name="%view.helpStructure"
         restorable="true">
   </view>
   <view
         class="com.softmodeler.ui.views.NotificationGroupsAdminView"
         icon="platform:/plugin/com.softmodeler.model/icons/full/obj16/NotificationGroup.png"
         id="com.softmodeler.ui.views.NotificationGroupsAdminView"
         name="%view.notificationgroups">
   </view>               
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.softmodeler.ui.handler.DeleteObjectHandler"
            id="softmodeler.cmd.delete"
            name="%command.delete">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.CopyObjectHandler"
            id="softmodeler.cmd.copyObject"
            name="%command.createCopy">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.PrintHandler"
            id="softmodeler.cmd.print"
            name="%command.print">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.PreviewHandler"
            id="softmodeler.cmd.preview"
            name="%command.preview">
      </command>
      <command
            id="softmodeler.cmd.options"
            name="%command.openOptions">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OverrideHandler"
            id="softmodeler.cmd.override"
            name="%command.overrideChanges">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenAuditEntry"
            id="softmodeler.cmd.openAudit"
            name="%command.openVersion">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.DeleteAuditEntry"
            id="softmodeler.cmd.deleteAudit"
            name="%command.deleteVersion">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.RevertAuditEntry"
            id="softmodeler.cmd.revertAudit"
            name="%command.revertVersion">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.NewViewHandler"
            id="softmodeler.cmd.newView"
            name="%command.newView">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.DeleteViewHandler"
            id="softmodeler.cmd.deleteView"
            name="%command.deleteView">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.UpdateViewStructureHandler"
            id="softmodeler.cmd.updateViewStructure"
            name="%command.updateViewStructure">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.ObjectRefOpenEditorHandler"
            id="softmodeler.cmd.objectRefOpenEditor"
            name="%command.objectRefOpenEditor">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenAdminHandler"
            id="softmodeler.cmd.openAdmin"
            name="%command.openAdmin">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenCodeManagementHandler"
            id="softmodeler.cmd.openCodeMgmt"
            name="%command.manageCodes">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.ForwardObjectHandler"
            id="softmodeler.cmd.forwardObject"
            name="%command.forwardObject">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.RestoreArchiveObject"
            id="softmodeler.cmd.restoreArchiveObject"
            name="%command.restoreArchiveObject">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.DeleteArchiveObject"
            id="softmodeler.cmd.deleteArchiveObject"
            name="%command.deleteArchivedObject">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenShellHandler"
            id="softmodeler.cmd.openShell"
            name="%command.openShell">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenCustomizationHandler"
            id="softmodeler.cmd.openCustomization"
            name="%command.openCustomization">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.CommitHandler"
            id="softmodeler.cmd.commit"
            name="%command.commit">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.TemplateHandler"
            description="%command.template.description"
            id="softmodeler.cmd.templates"
            name="%command.template">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.DeleteNlsObjectHandler"
            id="softmodeler.cmd.deleteNlsObject"
            name="%command.deleteTranslation">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OpenOriginalHandler"
            id="softmodeler.cmd.openOriginal"
            name="%command.openOriginal">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.TranslateHandler"
            id="softmodeler.cmd.translate"
            name="%command.translate">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.OutputProcessingHandler"
            id="softmodeler.cmd.outputProcessing"
            name="%command.outputProcessing">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.RefreshViewerHandler"
            id="softmodeler.cmd.refreshViewer"
            name="%command.refresh">
         <commandParameter
               id="useSelection"
               name="%commandParameter.useSelection"
               optional="true">
         </commandParameter>
         <commandParameter
               id="expand"
               name="%commandParameter.expand"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.CollapseViewerHandler"
            id="softmodeler.cmd.collapseViewer"
            name="%command.collapse">
         <commandParameter
               id="useSelection"
               name="%commandParameter.useSelection"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.NewHelpEntryHandler"
            id="softmodeler.cmd.newHelpEntry"
            name="%command.newHelpEntry">
         <commandParameter
               id="useSelection"
               name="%commandParameter.useSelection"
               optional="true">
         </commandParameter>
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.HelpEntryVisibilityHandler"
            id="softmodeler.cmd.helpEntryVisibility"
            name="%command.helpEntryVisibility">
      </command>
      <command
            defaultHandler="com.softmodeler.ui.handler.SnapshotHandler"
            id="softmodeler.cmd.buildSnapshot"
            name="%command.buildSnapshot">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="softmodeler.cmd.delete"
            icon="icons/full/view16/DeleteObject.gif">
      </image>
      <image
            commandId="softmodeler.cmd.override"
            icon="icons/full/view16/Override.gif">
      </image>
      <image
            commandId="softmodeler.cmd.copyObject"
            icon="icons/full/etool16/copy.gif">
      </image>
      <image
            commandId="softmodeler.cmd.options"
            icon="icons/full/view16/Options.gif">
      </image>
      <image
            commandId="softmodeler.cmd.print"
            icon="icons/full/view16/Print.gif">
      </image>
      <image
            commandId="softmodeler.cmd.preview"
            icon="icons/full/view16/Preview.gif">
      </image>
      <image
            commandId="softmodeler.cmd.revertAudit"
            icon="icons/full/view16/Override.gif">
      </image>
      <image
            commandId="softmodeler.cmd.deleteAudit"
            icon="icons/full/view16/DeleteObject.gif">
      </image>
      <image
            commandId="softmodeler.cmd.openAudit"
            icon="icons/full/view16/Open.gif">
      </image>
      <image
            commandId="softmodeler.cmd.newView"
            icon="icons/full/view16/Add.gif">
      </image>
      <image
            commandId="softmodeler.cmd.deleteView"
            icon="icons/full/view16/DeleteObject.gif">
      </image>
      <image
            commandId="softmodeler.cmd.updateViewStructure"
            icon="icons/full/view16/Renew.png">
      </image>            
      <image
            commandId="softmodeler.cmd.openShell"
            icon="icons/full/etool16/run.gif">
      </image>
      <image
            commandId="softmodeler.cmd.forwardObject"
            icon="icons/full/view16/Forward.gif">
      </image>
      <image
            commandId="softmodeler.cmd.restoreArchiveObject"
            icon="icons/full/view16/Override.gif">
      </image>
      <image
            commandId="softmodeler.cmd.deleteArchiveObject"
            icon="icons/full/view16/DeleteObject.gif">
      </image>
      <image
            commandId="softmodeler.cmd.commit"
            icon="icons/full/etool16/commit.gif">
      </image>
      <image
            commandId="softmodeler.cmd.templates"
            icon="icons/full/etool16/template.gif">
      </image>
      <image
            commandId="softmodeler.cmd.deleteNlsObject"
            icon="icons/full/view16/DeleteObject.gif">
      </image>
      <image
            commandId="softmodeler.cmd.openOriginal"
            icon="icons/full/view16/Left.gif">
      </image>
      <image
            commandId="softmodeler.cmd.translate"
            icon="icons/full/view16/Translate.png">
      </image>
      <image
            commandId="softmodeler.cmd.openAdmin"
            icon="icons/full/view16/Administration.png">
      </image>
      <image
            commandId="softmodeler.cmd.openCustomization"
            icon="icons/full/view16/Customization.png">
      </image>
      <image
            commandId="softmodeler.cmd.outputProcessing"
            icon="icons/full/view16/Refresh.gif">
      </image>
      <image
            commandId="softmodeler.cmd.refreshViewer"
            icon="icons/full/view16/Refresh.gif">
      </image>
      <image
            commandId="softmodeler.cmd.collapseViewer"
            icon="icons/full/etool16/collapseall.gif">
      </image>
      <image
            commandId="softmodeler.cmd.newHelpEntry"
            icon="icons/full/view16/Add.gif">
      </image>
      <image
            commandId="softmodeler.cmd.helpEntryVisibility"
            icon="icons/full/view16/view_false.png">
      </image>
      <image
            commandId="softmodeler.cmd.buildSnapshot"
            icon="icons/full/view16/Snapshot.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.softmodeler.ui.editor.page.Audit?after=additions">
         <command
               commandId="softmodeler.cmd.openAudit"
               id="softmodeler.cmd.openAudit"
               style="push">
         </command>
         <command
               commandId="softmodeler.cmd.revertAudit"
               id="softmodeler.cmd.revertAudit"
               style="push">
         </command>
         <command
               commandId="softmodeler.cmd.deleteAudit"
               id="softmodeler.cmd.deleteAudit"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.softmodeler.ui.view.archiv?after=additions">
         <command
               commandId="softmodeler.cmd.restoreArchiveObject"
               id="softmodeler.cmd.restoreArchiveObject"
               style="push">
         </command>
         <command
               commandId="softmodeler.cmd.deleteArchiveObject"
               id="softmodeler.cmd.deleteArchiveObject"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:com.softmodeler.ui.view.view?after=additions">
         <command
               commandId="softmodeler.cmd.newView"
               id="softmodeler.cmd.newView"
               style="push">
         </command>
         <command
               commandId="softmodeler.cmd.updateViewStructure"
               id="softmodeler.cmd.updateViewStructure"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.softmodeler.ui.view.helpStructure?after=additions">
         <command
               commandId="softmodeler.cmd.newHelpEntry"
               id="softmodeler.cmd.newHelpEntry"
               style="push">
            <parameter
                  name="useSelection"
                  value="true">
            </parameter>
         </command>
         <separator
               name="helpStructure.separator">
         </separator>
         <command
               commandId="softmodeler.cmd.refreshViewer"
               id="softmodeler.cmd.refreshViewer"
               style="push">
            <parameter
                  name="expand"
                  value="1">
            </parameter>
            <parameter
                  name="useSelection"
                  value="true">
            </parameter>
         </command>
         <command
               commandId="softmodeler.cmd.helpEntryVisibility"
               id="softmodeler.cmd.helpEntryVisibility"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.softmodeler.ui.view.helpStructure?after=additions">
         <command
               commandId="softmodeler.cmd.newHelpEntry"
               id="softmodeler.cmd.newHelpEntry.root"
               label="%command.newTopHelpEntry"
               style="push">
            <parameter
                  name="useSelection"
                  value="false">
            </parameter>
         </command>
         <command
               commandId="softmodeler.cmd.refreshViewer"
               id="softmodeler.cmd.refreshViewer"
               style="push">
            <parameter
                  name="expand"
                  value="1">
            </parameter>
            <parameter
                  name="useSelection"
                  value="false">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.activities">   
      <activity
            id="helpadministration"
            name="%activity.helpadministration">
      </activity>
      <activity
            id="$HELPCOMPOSER_"
            name="%activity.helpcomposer">
      </activity>
      <activity
            id="$ADMIN_$HELP_"
            name="%activity.helpmodifier">
      </activity>                  
      <activityPatternBinding
            activityId="helpadministration"
            isEqualityPattern="true"
            pattern="com.softmodeler.ui/com.softmodeler.ui.perspective.help">
      </activityPatternBinding>
	  <activityPatternBinding
            activityId="$HELPCOMPOSER_"
            isEqualityPattern="true"
            pattern="com.softmodeler.ui/softmodeler.cmd.newHelpEntry.root">
      </activityPatternBinding>
   <activityPatternBinding
         activityId="$ADMIN_$HELP_"
         isEqualityPattern="true"
         pattern="com.softmodeler.ui/softmodeler.cmd.helpEntryVisibility">
   </activityPatternBinding>                    
   </extension> 
   
   <extension
         point="org.eclipse.ui.helpSupport">
      <config
            class="com.softmodeler.ui.help.HelpUI">
      </config>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contextProvider
            class="com.softmodeler.ui.help.ContextProvider">
      </contextProvider>
   </extension>
   <extension
         point="com.softmodeler.common.resource">
      <provider
            class="com.softmodeler.ui.provider.UIDefinitionResourceProvider">
      </provider>
   </extension>
   <extension
         point="com.softmodeler.ui.inputSelectionProvider">
      <inputSelectionProvider
            class="com.softmodeler.ui.provider.PropertiesProvider"
            id="inputSelectionProvider.Properties">
      </inputSelectionProvider>
      <inputSelectionProvider
            class="com.softmodeler.ui.provider.CodeProvider"
            id="inputSelectionProvider.Code">
      </inputSelectionProvider>
      <inputSelectionProvider
            class="com.softmodeler.ui.provider.CodeProviderDescending"
            id="inputSelectionProvider.Code.descending">
      </inputSelectionProvider>
      <inputSelectionProvider
            class="com.softmodeler.ui.provider.CodeProviderDescendingLeafsOnly"
            id="inputSelectionProvider.Code.descending.leafsOnly">
      </inputSelectionProvider>
      <inputSelectionProvider
            class="com.softmodeler.ui.provider.LocaleCodeProvider"
            id="inputSelectionProvider.Locale">
      </inputSelectionProvider>      
   </extension>
   <extension
         point="com.softmodeler.ui.assistantProvider">
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.AssociationAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.association">
      </assistantProvider>
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.CategoryAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.category">
      </assistantProvider>
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.CodeAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.code">
      </assistantProvider>
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.UserAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.user">
      </assistantProvider>
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.ObjectAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.object">
      </assistantProvider>
      <assistantProvider
            class="com.softmodeler.ui.provider.selection.HelpEntryAssistantProvider"
            id="com.softmodeler.ui.assistantProvider.help">
      </assistantProvider>
   </extension> 
   <extension
         point="com.softmodeler.ui.uiDefinition">
      <editor>
         <uiDefinition
               file="resource/definition/editor/View.xmi"
               filter="View"
               id="View">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/translator.xmi"
               filter="BasicObjectNls"
               id="com.softmodeler.editor.translator">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/PrintTemplateSet.xmi"
               filter="PrintTemplateSet"
               id="PrintTemplateSet">
         </uiDefinition>
         <uiDefinition
               file="resource/definition/editor/HelpEntry.xmi"
               filter="HelpEntry"
               id="HelpEntry">
         </uiDefinition>
      </editor>   
      <page>
         <uiDefinition
               file="resource/definition/page/contactdata.xmi"
               id="com.softmodeler.ui.page.contactdata">
         </uiDefinition>
      </page>
   </extension>
   <extension
         point="com.softmodeler.ui.editorSupport">
      <editorSupport
            filter="Identity"
            id="com.softmodeler.ui.identitySupport"
            supportClass="com.softmodeler.ui.editors.support.IdentityEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
         </editor>
      </editorSupport>
      <editorSupport
            filter="View"
            id="com.softmodeler.ui.viewSupport"
            supportClass="com.softmodeler.ui.editors.support.ViewEditorSupport">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
         </editor>         
      </editorSupport>                  
   </extension>
   <extension
         point="com.softmodeler.ui.editorPage">
      <editorPage
            filter="View"
            id="com.softmodeler.ui.editorPage.viewManagePage"
            name="%editorPage.view"
            pageClass="com.softmodeler.ui.editors.ViewManagePage">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="20">
            </sortHint>
         </editor>
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
            <sortHint
                  number="20">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="BasicObjectNls"
            id="com.softmodeler.ui.editorPage.associationTranslationPage"
            name="%editorPage.assocationTranslation"
            pageClass="com.softmodeler.ui.editors.AssociationTranslationPage">
         <editor
               id="com.softmodeler.ui.editors.TranslationEditor">
            <sortHint
                  number="1">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="BasicObjectNls"
            id="com.softmodeler.ui.editorPage.fieldTranslationPage"
            name="%editorPage.fieldTranslation"
            pageClass="com.softmodeler.ui.editors.FieldTranslationPage">
         <editor
               id="com.softmodeler.ui.editors.TranslationEditor">
            <sortHint
                  number="2">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            id="com.softmodeler.ui.editorPage.auditOutputPage"
            name="%editorPage.auditOutput"
            pageClass="com.softmodeler.ui.editors.AuditOutputPage">
         <editor
               id="com.softmodeler.ui.editors.AuditEditor">
            <sortHint
                  number="30">
            </sortHint>
         </editor>
      </editorPage>
      <editorPage
            filter="PrintTemplateSet"
            id="com.softmodeler.ui.editorPage.printTemplateSetPage"
            name="%editorPage.printTemplateSet"
            pageClass="com.softmodeler.ui.editors.PrintTemplateSetPage">
         <editor
               id="com.softmodeler.ui.editors.UIObjectRefEditor">
            <sortHint
                  number="10">
            </sortHint>
         </editor>
      </editorPage>
   </extension>
   <extension
         point="com.softmodeler.ui.customComponent">
      <customComponent
            class="com.softmodeler.ui.provider.CategoryCustomComponent"
            id="categoryCustomComponent">
      </customComponent>
   </extension>
   <extension
         point="com.softmodeler.ui.editorPartHandler">
      <editorPartHandler
            filter="BasicObject,ObjectRef"
            handlerClass="com.softmodeler.ui.editors.handler.BasicObjectEditorPartHandler"
            id="com.softmodeler.ui.basicObjectEditorPartHandler"
            sortHint="9999">
      </editorPartHandler>
      <editorPartHandler
            filter="View"
            handlerClass="com.softmodeler.ui.editors.handler.ViewEditorPartHandler"
            id="com.softmodeler.ui.viewEditorPartHandler"
            sortHint="9990">
      </editorPartHandler>
      <editorPartHandler
            filter="BasicObjectNls"
            handlerClass="com.softmodeler.ui.editors.handler.NlsObjectEditorPartHandler"
            id="com.softmodeler.ui.nlsObjectEditorPartHandler"
            sortHint="9991">
      </editorPartHandler>
      <editorPartHandler
            filter="HelpEntry"
            handlerClass="com.softmodeler.ui.editors.handler.HelpEntryEditorPartHandler"
            id="com.softmodeler.ui.helpEntryEditorPartHandler"
            sortHint="9990">
      </editorPartHandler>
   </extension>
   <extension
         point="com.softmodeler.ui.taskHandler">
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.TranslateTaskHandler"
            id="translate">
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.completeTranslation">
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="reviewCommit">
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.approve">
            <property
                  key="approved"
                  value="true">
            </property>
         </command>
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.reject">
            <property
                  key="approved"
                  value="false">
            </property>
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="reviewRejected">
         <command
               class="com.softmodeler.ui.workflow.commands.SimpleTaskCommand"
               label="%command.takenNote">
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="confirmRejected">
         <command
               class="com.softmodeler.ui.workflow.commands.SimpleTaskCommand"
               label="%command.takenNote">
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="confirmCommit">
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.approve">
            <property
                  key="confirmed"
                  value="true">
            </property>
         </command>
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.reject">
            <property
                  key="confirmed"
                  value="false">
            </property>
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="receiveForward">
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.accept">
            <property
                  key="accept"
                  value="true">
            </property>
         </command>
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.dontAccept">
            <property
                  key="accept"
                  value="false">
            </property>
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="confirmDelete">
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.approve">
            <property
                  key="approved"
                  value="true">
            </property>
         </command>
         <command
               class="com.softmodeler.ui.workflow.commands.CommentTaskCommand"
               label="%command.reject">
            <property
                  key="approved"
                  value="false">
            </property>
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="forwardRejected">
         <command
               class="com.softmodeler.ui.workflow.commands.SimpleTaskCommand"
               label="%command.takenNote">
         </command>
      </taskHandler>
      <taskHandler
            class="com.softmodeler.ui.workflow.handler.PreviewTaskHandler"
            id="deleteRejected">
         <command
               class="com.softmodeler.ui.workflow.commands.SimpleTaskCommand"
               label="%command.takenNote">
         </command>
      </taskHandler>
   </extension>
   <extension
         point="com.softmodeler.ui.workflowWizard">
      <wizard
            filter="BasicObject"
            processkey="SimpleCommit">
         <page
               class="com.softmodeler.ui.wizards.CommitWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="ConfirmCommit">
         <page
               class="com.softmodeler.ui.wizards.CommitWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="ParallelCommit">
         <page
               class="com.softmodeler.ui.wizards.CommitWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="SerialCommit">
         <page
               class="com.softmodeler.ui.wizards.CommitWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObjectNls"
            processkey="NlsCommit">
         <page
               class="com.softmodeler.ui.wizards.TranslatorCommitWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="DeleteObject">
         <page
               class="com.softmodeler.ui.wizards.DeleteObjectWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="ForwardObject">
         <page
               class="com.softmodeler.ui.wizards.ForwardObjectWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
      <wizard
            filter="BasicObject"
            processkey="Translate">
         <page
               class="com.softmodeler.ui.wizards.TranslateWorkflowPage">
         </page>
         <page
               class="com.softmodeler.ui.wizards.DefaultWorkflowPage">
         </page>
      </wizard>
   </extension>
   <extension
         point="com.softmodeler.ui.reportUIHandler">
      <reportUIHandler
            class="com.softmodeler.ui.report.SimpleHtmlListReportUIHandler"
            reportProcessorIds="com.softmodeler.simpleHtmlList">
      </reportUIHandler>
      <reportUIHandler
            class="com.softmodeler.ui.report.XmlReportUIHandler"
            reportProcessorIds="com.softmodeler.xmlreport">
      </reportUIHandler>
      <reportUIHandler
            class="com.softmodeler.ui.report.XslTransformationReportUIHandler"
            reportProcessorIds="com.softmodeler.xsltreport">
      </reportUIHandler>      
      
   </extension>
   
   <extension
         point="com.softmodeler.ui.dataProviderDefinitionEditorPage">
      <dataProviderDefinitionPage
            dataProviderId="xmlApplicationDataDataProvider"
            id="xmlDataDataProviderDefinitionPage"
            name="%dataProviderDefinitionPage.xmlDataDataProviderDefinitionPage"
            pageClass="com.softmodeler.ui.editors.XmlDataDataProviderDefinitionPage"
            sort="10">
      </dataProviderDefinitionPage>
   </extension>
  
</plugin>
